/* Fonts */
@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iconic';
  src: url('../fonts/Iconic-Fill.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

p {
  margin: 13px 0;
}

strong {
  font-weight: bold;
}

p {
}

html, body {
  background-color: #111111;
  color: #FFF;
}

.fullscreen {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* A single cell (including margin) is 60px x 60px */
/* There are 10 columns => 600px */
/* There are 5 rows (1 for title, 3 for board, 1 for level progress) => 300px */

/* Margin around a block: 8px */
/* Diameter of a block: 44px */

#impasse {
  width: 600px;
  height: 300px;
  margin: auto;

  position: relative;

  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.fullscreen #impasse {
  margin: 0;
}

/* Overlay over board element */
#impasse .overlay {
  width: inherit;
  height: 180px;
  position: absolute;
  top: 60px;
  background-color: #212121;
  z-index: 666;
  opacity: 0;

  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

#impasse .row {
  background-color: #212121;
  line-height: 60px;
}

/* Title */
#impasse .title {
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  border-bottom: 1px solid #000;
}

/* Board */
#impasse .board {
  height: 180px;
  line-height: 60px;
  position: relative;
  background: -webkit-linear-gradient(top, #B8B8B8 0%, #D5D5D5 50%, #B8B8B8 100%);
  background: -moz-linear-gradient(top, #B8B8B8 0%, #D5D5D5 50%, #B8B8B8 100%);
  background: linear-gradient(to bottom, #B8B8B8 0%, #D5D5D5 50%, #B8B8B8 100%);
  overflow: hidden; /* hide instances of blocks outside of the board */
}

/* Special version of the board for displaying the text after finishing the last level */
#impasse.game_over .board {
  padding: 25px 0;
  color: black;
  line-height: 25px;
  font-size: 16px;
}

/* Level progress  */
#impasse .level_progress {
  height: 60px;
  border-top: 1px solid #000;
}

#impasse .level_progress .point {
  display: inline-block;
  margin: 0 9px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #454545;
}
#impasse .level_progress .point.completed {
  background-color: #9B9B9B;
}
#impasse .level_progress .point.active {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px #FFFFFF;
}

/* Entities */
#impasse .entity {
  height: 44px;
  width: 44px;
  line-height: 38px;

  position: absolute;
  top: 0;
  left: 0;

  font-family: 'Iconic';
  font-size: 28px;
  text-align: center;
  text-indent: 0;

  color: #000000;
  border-radius: 50%;
  border:#000000 4px solid; /* outer border */

  -webkit-transition-property: left, top;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;

  -moz-transition-property: left, top;
  -moz-transition-duration: 0.1s;
  -moz-transition-timing-function: ease-out;

  transition-property: left, top;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

#impasse .entity.hidden {
  display: none;
}

#impasse .entity.no_transition {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

#impasse .entity.player {
  background-color: #FFFFFF;
}
#impasse .entity.player:before {
  content: '\2795'; /* plus */
}

#impasse .entity.static {
  background-color: #7C7C7C;
}

#impasse .entity.orange_up_block {
  background-color: #FDB657;
}
#impasse .entity.orange_up_block:before {
  content: '\2191'; /* up arrow */
}

#impasse .entity.purple_down_block {
  background-color: #a379ff;
}
#impasse .entity.purple_down_block:before {
  content: '\2193'; /* down arrow */
}

#impasse .entity.yellow_up_block {
  background-color: #FFF46B;
}
#impasse .entity.yellow_up_block:before {
  content: '\2191'; /* up arrow */
}

#impasse .entity.blue_down_block {
  background-color: #1299FF;
}
#impasse .entity.blue_down_block:before {
  content: '\2193'; /* up arrow */
}

#impasse .entity.blue_minus_block {
  background-color: #6CFAFF;
}
#impasse .entity.blue_minus_block:before {
  content: '\2796'; /* minus */
}

#impasse .entity.win_block {
  background-color: #9CDC69;
}
#impasse .entity.win_block:before {
  content: '\2717'; /* tick */
}

#impasse .entity.pink_minus_block {
  background-color: #FC68B2;
}
#impasse .entity.pink_minus_block:before {
  content: '\2796'; /* minus */
}

#impasse .entity.red_x_block {
  background-color: #CB1600;
}
#impasse .entity.red_x_block:before {
  content: '\2713'; /* cross */
}

#impasse .entity.green_o_block {
  background-color: #25B457;
  /* "filled circle" char does not use font from Iconic set */
  /* so its size is a bit different */
  line-height: 34px;
  font-size: 40px;
}
#impasse .entity.green_o_block:before {
  content: '\25CF'; /* filled circle */
}

#impasse .entity.hideable.hidden {
  display: inline-block;
  /* Scale using CSS tranformation, as it doesn't change position of the element. */
  /* Original size is 44px, we want 54px, so the scale is 54px / 44px = 1.23 */
  -webkit-transform: scale(1.23);
  -moz-transform: scale(1.23);
  transform: scale(1.23);
  background-color: transparent;
  border:#000000 2px dashed; /* outer border */
}
#impasse .entity.hideable.hidden:before {
  content: '';
}

#impasse .entity.covered {
  -webkit-transform: scale(1.23);
  background-color: transparent;
  border:#000000 3px solid; /* outer border */
}
#impasse .entity.covered:before {
  content: '';
}

/* Non-game related styles */
#description {
  width: 550px;
  margin: 30px auto;
  padding: 10px;

  border-radius: 5px;

  background-color: #212121;
  color: #9D9D9D;

  line-height: 18px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#description a {
  color: inherit;
}
